USE [master]
GO
/****** Object:  Database [NhapLieuSinhVien]    Script Date: 17/11/2022 9:11:51 PM ******/
CREATE DATABASE [NhapLieuSinhVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NhapLieuSinhVien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\NhapLieuSinhVien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NhapLieuSinhVien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\NhapLieuSinhVien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NhapLieuSinhVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NhapLieuSinhVien]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 17/11/2022 9:11:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MSSV] [char](8) NULL,
	[HoTen] [nvarchar](100) NULL,
	[ChuyenNganh] [nvarchar](100) NULL,
	[GioiTinh] [nvarchar](4) NULL,
	[SoMon] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
